html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
html {
  font-family: Arial, sans-serif;
  background: url("D:\Desktop\Ayurveda2\my-react-website\public\bg2.jpeg")
    no-repeat center center fixed;

  background-size: cover;
  margin: 0;
  padding: 0;
  color: #fff; /* Default text color */
}
html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 0;
}
.App {
  text-align: center;
  position: relative; /* Ensure content is above the overlay */
  z-index: 1; /* Ensures content is above the overlay */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
